<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>个人账户</title>
    <link rel="shortcut icon" th:href="@{/images/logo/favourite_icon_1.png}">
    <div th:replace="~{css::css}"></div>
</head>


<body>

<!-- body_wrap - start -->
<div class="body_wrap">
    <div th:replace="~{component::backtotopAndPreload}"></div>
    <div th:replace="~{component::header-style-3}"></div>
    <!-- main body - start
    ================================================== -->
    <main>
        <div th:replace="~{component::shopping_cart}"></div>
        <!-- breadcrumb_section - start
        ================================================== -->
        <div class="breadcrumb_section">
            <div class="container">
                <ul class="breadcrumb_nav ul_li">
                    <li><a href="/index">主页</a></li>
                    <li>我的账户</li>
                </ul>
            </div>
        </div>
        <!-- breadcrumb_section - end
        ================================================== -->

        <!-- account_section - start
        ================================================== -->
        <section class="account_section section_space">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="account_content_area">
                            <h3>你好，<span th:text="${user?.username}">用户名</span></h3>
                            <ul class="content_layout ul_li_block">
                                <li>
                                    <h4><strong>身份</strong></h4>
                                    <p class="mb-0">顾客</p>
                                </li>
                                <li>
                                    <h4>修改密码</h4>
                                    <div class="input-group mb-3">
                                        <form action="/user/updatePassword" method="post"
                                              class="form-control p-0 border-0">
                                            <div class="input-group">
                                                <input type="password" class="form-control" placeholder="输入您的新密码"
                                                       aria-label="输入您的新密码" name="newPassword">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="submit">确认修改
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <ul class="btns_group ul_li">
                                        <li></li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>电子邮件</h4>
                                    <p th:text="${user?.email}">电子邮件地址</p>
                                </li>
                                <li>
                                    <h4 class="mb-3">地址簿</h4>
                                    <a class="btn" href="http://127.0.0.1:5173/#/login" target="_blank">去后台管理地址</a>
                                </li>
                                <li>
                                    <h4>手机号码</h4>
                                    <p th:text="${user?.phone}">123</p>
                                </li>
                                <li>
                                    <h4>身份</h4>
                                    <p th:text="${user?.identityName}">身份信息</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- account_section - end
        ================================================== -->
        <div th:replace="~{component::newsletter}"></div>
    </main>
    <!-- main body - end
    ================================================== -->
    <div th:replace="~{component::footer}"></div>
</div>
<!-- body_wrap - end -->
<div th:replace="~{js::js}"></div>

</body>
</html>
