<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>购物车</title>
    <div th:replace="~{css::css}"></div>
</head>
<body>
<!-- body_wrap - start -->
<div class="body_wrap">

    <div th:replace="~{component::backtotopAndPreload}"></div>

    <div th:replace="~{component::header-style-3}"></div>

    <!-- main body - start
    ================================================== -->
    <main>

        <div th:replace="~{component::shopping_cart}"></div>

        <!-- breadcrumb_section - start
        ================================================== -->
        <div class="breadcrumb_section">
            <div class="container">
                <ul class="breadcrumb_nav ul_li">
                    <li><a href="/index">主页</a></li>
                    <li>购物车</li>
                </ul>
            </div>
        </div>
        <!-- breadcrumb_section - end
        ================================================== -->

        <!-- empty_cart_section - start
        ================================================== -->
        <section class="empty_cart_section section_space">
            <div class="container">
                <div class="empty_cart_content text-center">
                        <span class="cart_icon">
                            <i class="icon icon-ShoppingCart"></i>
                        </span>
                    <h3>您的购物车中没有商品</h3>
                    <a class="btn btn_secondary" href="/cake/grid/1"><i
                            class="far fa-chevron-left"></i> 继续浏览 </a>
                </div>
            </div>
        </section>
        <!-- empty_cart_section - end
        ================================================== -->
        <div th:replace="~{component::newsletter}"></div>
    </main>
    <!-- main body - end
    ================================================== -->
    <div th:replace="~{component::footer}"></div>
</div>
<!-- body_wrap - end -->
<div th:replace="~{js::js}"></div>
</body>
</html>        
