<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>智能蛋糕云订服务平台</title>
    <link rel="shortcut icon" th:href="@{/images/logo/favourite_icon_1.png}">
    <div th:replace="~{css::css}"></div>
    <!-- woocommercen - css include -->
    <link rel="stylesheet" type="text/css" href="../static/css/woocommerce.css" th:href="@{/css/woocommerce.css}">
</head>

<div th:replace="~{messageStyle::messageStyle}"></div>

<body>

<!-- 现代化弹窗 -->
<div id="modernAlert" class="modern-alert" role="alert">
    <span class="alert-icon" id="alertIcon">✓</span>
    <div class="alert-content" id="alertMessage">操作成功！这是一个示例消息。</div>
    <button type="button" class="btn-close" aria-label="Close"></button>
</div>

<div id="serverMessage" th:if="${message}" th:attr="data-message=${message}, data-type=${messageType ?: 'success'}" style="display: none;"></div>


<!-- body_wrap - start -->
<div class="body_wrap">
    <div th:replace="~{component::backtotopAndPreload}"></div>
    <div th:replace="~{component::header-style-3}"></div>
    <script th:inline="javascript">
        (function () {
            document.getElementById("allcategories_collapse").classList.remove('collapse')
        }())
    </script>
    <!-- main body - start
    ================================================== -->
    <main>

        <div th:replace="~{component::shopping_cart}"></div>
        <!-- slider_section - start
        ================================================== -->
        <section class="slider_section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 offset-lg-3">
                        <div class="main_slider" data-slick='{"arrows": false}'>
                            <div class="slider_item set-bg-image"
                                 th:data-background="@{'/upload_img/'+${cake.attachmentName}}"
                                 th:each="cake:${carouselImages}">
                                <div class="slider_content">
                                    <h3 class="small_title" data-animation="fadeInUp2" data-delay=".2s"
                                        th:each="tag:${cake.tagList}"><span th:text="${tag?.name}"></span></h3>
                                    <h4 class="big_title" data-animation="fadeInUp2" data-delay=".4s">
                                        <span1
                                                th:text="${cake.name}">Smart blood
                                        </span1>
                                        <span>最热销</span>
                                    </h4>
                                    <p data-animation="fadeInUp2" data-delay=".6s" th:text="${cake.description}">The
                                        best gadgets collection 2021</p>
                                    <div class="item_price" data-animation="fadeInUp2" data-delay=".6s">
                                        <del th:text="'￥'+${cake.price}">$430.00</del>
                                        <span class="sale_price" th:text="'￥'+${cake.price}">$350.00</span>
                                    </div>
                                    <a class="btn btn_primary" th:href="'/cake/showOne/'+${cake.cakeId}"
                                       data-animation="fadeInUp2"
                                       data-delay=".8s">立即查看</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- slider_section - end
        ================================================== -->

        <!-- policy_section - start
        ================================================== -->
        <section class="policy_section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="policy-wrap">
                            <div class="policy_item">
                                <div class="item_icon">
                                    <i class="icon icon-Truck"></i>
                                </div>
                                <div class="item_content">
                                    <h3 class="item_title">限时免运费</h3>
                                    <p>
                                        所有订单国内限时免运费
                                    </p>
                                </div>
                            </div>

                            <div class="policy_item">
                                <div class="item_icon">
                                    <i class="icon icon-Headset"></i>
                                </div>
                                <div class="item_content">
                                    <h3 class="item_title">24*7小时在线</h3>
                                    <p>
                                        可以在任何时间联系我们
                                    </p>
                                </div>
                            </div>

                            <div class="policy_item">
                                <div class="item_icon">
                                    <i class="icon icon-Wallet"></i>
                                </div>
                                <div class="item_content">
                                    <h3 class="item_title">100%退款</h3>
                                    <p>
                                        若因质量问题，我们承诺100%退款
                                    </p>
                                </div>
                            </div>

                            <div class="policy_item">
                                <div class="item_icon">
                                    <i class="icon icon-Starship"></i>
                                </div>
                                <div class="item_content">
                                    <h3 class="item_title">极速处理</h3>
                                    <p>
                                        任何问题，极速处理
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- policy_section - end
        ================================================== -->


        <!-- products-with-sidebar-section - start
        ================================================== -->
        <section class="products-with-sidebar-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 order-lg-3">
                        <div class="best-selling-products">
                            <div class="sec-title-link">
                                <h3>热卖榜单</h3>
                                <div class="view-all"><a href="/cake/grid/1">查看全部<i
                                        class="fal fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="product-area clearfix">
                                <div class="grid" th:each="cake :${hotCake}">
                                    <div class="product-pic">
                                        <img th:src="@{'/upload_img/'+${cake.attachmentName}}" style="height: 168px"
                                             alt>
                                        <div class="actions">
                                            <ul>
                                                <li>
                                                    <a th:onclick="|addToWish(${cake.cakeId},1)|">
                                                        <svg role="img" xmlns="http://www.w3.org/2000/svg" width="48px"
                                                             height="48px" viewBox="0 0 24 24" stroke="#2329D6"
                                                             stroke-width="1" stroke-linecap="square"
                                                             stroke-linejoin="miter" fill="none" color="#2329D6"><title>
                                                            Favourite</title>
                                                            <path d="M12,21 L10.55,19.7051771 C5.4,15.1242507 2,12.1029973 2,8.39509537 C2,5.37384196 4.42,3 7.5,3 C9.24,3 10.91,3.79455041 12,5.05013624 C13.09,3.79455041 14.76,3 16.5,3 C19.58,3 22,5.37384196 22,8.39509537 C22,12.1029973 18.6,15.1242507 13.45,19.7149864 L12,21 Z"/>
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a th:href="'/cake/showOne/'+${cake.cakeId}">
                                                        <svg role="img" xmlns="http://www.w3.org/2000/svg" width="48px"
                                                             height="48px" viewBox="0 0 24 24" stroke="#2329D6"
                                                             stroke-width="1" stroke-linecap="square"
                                                             stroke-linejoin="miter" fill="none" color="#2329D6"><title>
                                                            Shuffle</title>
                                                            <path d="M21 16.0399H17.7707C15.8164 16.0399 13.9845 14.9697 12.8611 13.1716L10.7973 9.86831C9.67384 8.07022 7.84196 7 5.88762 7L3 7"/>
                                                            <path d="M21 7H17.7707C15.8164 7 13.9845 8.18388 12.8611 10.1729L10.7973 13.8271C9.67384 15.8161 7.84196 17 5.88762 17L3 17"/>
                                                            <path d="M19 4L22 7L19 10"/>
                                                            <path d="M19 13L22 16L19 19"/>
                                                        </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="details">
                                        <h4><a href="#" th:text="${cake.name}">Macbook Pro</a></h4>
                                        <p><a href="#" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis !important;
                                            width: 220px;" th:text="${cake.description}">Apple MacBook Pro13.3″ Laptop with
                                            new Touch bar ID </a></p>
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </div>
                                        <span class="price">
                                                <ins>
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi>
                                                            <span class="woocommerce-Price-currencySymbol"
                                                                  th:text="'￥'+${cake.price}"></span>
                                                        </bdi>
                                                    </span>
                                                </ins>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="top_category_wrap">
                            <div class="sec-title-link">
                                <h3>热门标签</h3>
                            </div>
                            <div class="top_category_carousel2" data-slick='{"dots": false}'>
                                <div class="slider_item" th:each="tag : ${hotCategory}">
                                    <div class="category_boxed">
                                        <a th:href="'/cake/grid/1/'+${tag?.name}">
                                            <span class="item_title" th:text="${tag?.name}"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel_nav carousel-nav-top-right">
                                <button type="button" class="tc_left_arrow"><i class="fal fa-long-arrow-alt-left"></i>
                                </button>
                                <button type="button" class="tc_right_arrow"><i class="fal fa-long-arrow-alt-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 order-lg-9">
                        <div class="product-sidebar">
                            <div class="widget latest_product_carousel">
                                <div class="title_wrap">
                                    <h3 class="area_title">最新产品</h3>
                                    <div class="carousel_nav">
                                        <button type="button" class="vs4i_left_arrow"><i class="fal fa-angle-left"></i>
                                        </button>
                                        <button type="button" class="vs4i_right_arrow"><i
                                                class="fal fa-angle-right"></i></button>
                                    </div>
                                </div>
                                <div class="vertical_slider_4item" data-slick='{"dots": false}'>
                                    <div class="slider_item" th:each="cake :${latestCake}">
                                        <div class="small_product_layout">
                                            <a class="item_image" th:href="'/cake/showOne/'+${cake.cakeId}">
                                                <img th:src="@{'/upload_img/'+${cake.attachmentName}}"
                                                     alt="image_not_found">
                                            </a>
                                            <div class="item_content">
                                                <h3 class="item_title">
                                                    <a href="shop_details.html" th:text="${cake.name}">Product
                                                        Sample</a>
                                                </h3>
                                                <ul class="rating_star ul_li">
                                                    <li>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star-half-alt"></i>
                                                    </li>
                                                </ul>
                                                <div class="item_price">
                                                    <span th:text="'￥'+${cake.price}">$690.99</span>
                                                    <del th:text="'￥'+${cake.price}">$720.00</del>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container  -->
        </section>
        <!-- products-with-sidebar-section - end
        ================================================== -->
        <div th:replace="~{component::newsletter}"></div>
    </main>
    <!-- main body - end
    ================================================== -->
    <div th:replace="~{component::footer}"></div>
</div>
<!-- body_wrap - end -->
<div th:replace="~{js::js}"></div>
</body>
</html>
