<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>登录/注册</title>
    <div th:replace="~{css::css}"></div>
</head>

<body>

<script>
    const message = '[[${message}]]';
    if (message && message !== '') {
        alert(message);
    }
</script>

<!-- body_wrap - start -->
<div class="body_wrap">

    <div th:replace="~{component::backtotopAndPreload}"></div>

    <div th:replace="~{component::header-style-3}"></div>

    <!-- main body - start
    ================================================== -->
    <main>

        <div th:replace="~{component::shopping_cart}"></div>

        <!-- breadcrumb_section - start
        ================================================== -->
        <div class="breadcrumb_section">
            <div class="container">
                <ul class="breadcrumb_nav ul_li">
                    <li><a href="/index">主页</a></li>
                    <li>登录/注册</li>
                </ul>
            </div>
        </div>
        <!-- breadcrumb_section - end
        ================================================== -->

        <!-- register_section - start
        ================================================== -->
        <section class="register_section section_space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">

                        <ul class="nav register_tabnav ul_li_center" role="tablist">
                            <li role="presentation">
                                <button class="active" data-bs-toggle="tab" data-bs-target="#signin_tab" type="button"
                                        role="tab" aria-controls="signin_tab" aria-selected="true">登录
                                </button>
                            </li>
                            <li role="presentation">
                                <button data-bs-toggle="tab" data-bs-target="#signup_tab" type="button" role="tab"
                                        aria-controls="signup_tab" aria-selected="false">注册
                                </button>
                            </li>
                        </ul>

                        <div class="register_wrap tab-content">
                            <div class="tab-pane fade show active" id="signin_tab" role="tabpanel">
                                <form action="/user/login" method="post">
                                    <div class="form_item_wrap">
                                        <h3 class="input_title">用户名*</h3>
                                        <div class="form_item">
                                            <label for="username_input"><i class="fas fa-user"></i></label>
                                            <input id="username_input" type="text" name="username"
                                                   placeholder="输入用户名">
                                        </div>
                                    </div>

                                    <div class="form_item_wrap">
                                        <h3 class="input_title">密码*</h3>
                                        <div class="form_item">
                                            <label for="password_input"><i class="fas fa-lock"></i></label>
                                            <input id="password_input" type="password" name="password"
                                                   placeholder="输入密码">
                                        </div>
                                    </div>

                                    <div class="form_item_wrap">
                                        <button type="submit" class="btn btn_primary">登录</button>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="signup_tab" role="tabpanel">
                                <form action="/user/register" method="POST">
                                    <div class="form_item_wrap">
                                        <h3 class="input_title">用户名 *</h3>
                                        <div class="form_item">
                                            <label for="username_input2"><i class="fas fa-user"></i></label>
                                            <input id="username_input2" type="text" name="username"
                                                   placeholder="输入用户名">
                                        </div>
                                    </div>

                                    <div class="form_item_wrap">
                                        <h3 class="input_title">密码*</h3>
                                        <div class="form_item">
                                            <label for="password_input2"><i class="fas fa-lock"></i></label>
                                            <input id="password_input2" type="password" name="password"
                                                   placeholder="输入密码">
                                        </div>
                                    </div>

                                    <div class="form_item_wrap">
                                        <h3 class="input_title">Email*</h3>
                                        <div class="form_item">
                                            <label for="email_input"><i class="fas fa-envelope"></i></label>
                                            <input id="email_input" type="email" name="email" placeholder="输入邮箱">
                                        </div>
                                    </div>

                                    <div class="form_item_wrap">
                                        <button type="submit" class="btn btn_secondary">注册</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- register_section - end
        ================================================== -->
        <div th:replace="~{component::newsletter}"></div>
    </main>
    <!-- main body - end
    ================================================== -->
    <div th:replace="~{component::footer}"></div>
</div>
<!-- body_wrap - end -->
<div th:replace="~{js::js}"></div>
</body>
</html>                
