<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>商品详情</title>
    <link rel="shortcut icon" th:href="@{/images/logo/favourite_icon_1.png}">
    <div th:replace="~{css::css}"></div>

</head>

<div th:replace="~{messageStyle::messageStyle}"></div>

<body>

<!-- 现代化弹窗 -->
<div id="modernAlert" class="modern-alert" role="alert">
    <span class="alert-icon" id="alertIcon">✓</span>
    <div class="alert-content" id="alertMessage">操作成功！这是一个示例消息。</div>
    <button type="button" class="btn-close" aria-label="Close"></button>
</div>

<div id="serverMessage" th:if="${message}" th:attr="data-message=${message}, data-type=${messageType ?: 'success'}"
     style="display: none;"></div>


<!-- body_wrap - start -->
<div class="body_wrap">

    <div th:replace="~{component::backtotopAndPreload}"></div>

    <div th:replace="~{component::header-style-3}"></div>

    <!-- main body - start
    ================================================== -->
    <main>

        <div th:replace="~{component::shopping_cart}"></div>

        <!-- breadcrumb_section - start
        ================================================== -->
        <div class="breadcrumb_section">
            <div class="container">
                <ul class="breadcrumb_nav ul_li">
                    <li><a href="/index">主页</a></li>
                    <li>蛋糕详情</li>
                </ul>
            </div>
        </div>
        <!-- breadcrumb_section - end
        ================================================== -->

        <!-- product_details - start
        ================================================== -->
        <section class="product_details section_space pb-0">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-6">
                        <div class="product_details_image">
                            <div class="details_image_carousel">
                                <div class="slider_item" th:each="image : ${cake.cakeImgList}">
                                    <img th:src="@{'/upload_img/'+${image.attachmentName}}" style="height: 456px"
                                         alt="image_not_found">
                                </div>
                                <div class="slider_item" th:each="image : ${cake.cakeImgList}">
                                    <img th:src="@{'/upload_img/'+${image.attachmentName}}" style="height: 456px"
                                         alt="image_not_found">
                                </div>
                            </div>

                            <div class="details_image_carousel_nav">
                                <div class="slider_item" th:each="image : ${cake.cakeImgList}">
                                    <img th:src="@{'/upload_img/'+${image.attachmentName}}" style="height: 102px"
                                         alt="image_not_found">
                                </div>
                                <div class="slider_item" th:each="image : ${cake.cakeImgList}">
                                    <img th:src="@{'/upload_img/'+${image.attachmentName}}" style="height: 102px"
                                         alt="image_not_found">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="product_details_content">
                            <h2 class="item_title" th:text="${cake.name}">CURREN 8109 Watches</h2>
                            <p th:text="${cake.description}">It is a long established fact that a reader will be
                                distracted eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam,
                                purus eget sagittis vulputate</p>
                            <div class="item_review">
                                <ul class="rating_star ul_li">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star-half-alt"></i></li>
                                </ul>
                                <span class="review_value">3 Rating(s)</span>
                            </div>

                            <div class="item_review">
                                所属商家：<span th:text="${cake?.merchantName}"></span>
                            </div>

                            <div class="item_review">
                                <h6 th:each="tag : ${cake?.tagList}">
                                    <span class="badge bg-warning" style="margin-right: 10px;color: black"
                                          th:text="${tag?.name}"></span>
                                </h6>
                            </div>

                            <div class="item_price">
                                <span th:text="'￥'+${cake.price}">$620.00</span>
                                <del th:text="'￥'+${cake.price}">$720.00</del>
                            </div>
                            <hr>

                            <div class="quantity_wrap">
                                <form action="#">
                                    <div class="quantity_input">
                                        <button type="button" class="input_number_decrement">
                                            <i class="fal fa-minus"></i>
                                        </button>
                                        <input class="input_number_0"
                                               name="quantity_0" type="text"
                                               value='1'>
                                        <button type="button" class="input_number_increment">
                                            <i class="fal fa-plus"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <ul class="default_btns_group ul_li">
                                <li><a class="btn btn_primary addtocart_btn mouse_point"
                                       th:onclick="|addToCartQuantity(${cake.cakeId})|">添加到购物车</a>
                                </li>
                                <li><a href="#" th:onclick="|addToWish(${cake.cakeId},1)|"><i class="fas fa-heart"></i></a>
                                </li>
                            </ul>

                            <script th:inline="javascript">
                                function addToCartQuantity(cakeId) {
                                    var quantity = document.getElementsByName('quantity_0')[0].value
                                    const url = '/cart/addToCart/' + cakeId + '/' + quantity
                                    $.get(url)
                                    var flag = [[${addFail}]]
                                    if (!flag) {
                                        showModernAlert('添加成功')
                                    } else {
                                        showModernAlert('添加失败，购物车已满')
                                    }
                                }

                                function addToWish(cakeId, quantity) {
                                    const url = '/wish/addToWish/' + cakeId + '/' + quantity;
                                    $.get(url)
                                    var flag = [[${addFail}]];
                                    if (!flag) {
                                        showModernAlert('成功添加到心愿单')
                                    } else {
                                        showModernAlert('添加失败，购物车已满')
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </div>

                <div class="details_information_tab">
                    <ul class="tabs_nav nav ul_li" role=tablist>
                        <li>
                            <button class="active" data-bs-toggle="tab" data-bs-target="#description_tab" type="button"
                                    role="tab" aria-controls="description_tab" aria-selected="true">
                                描述
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="description_tab" role="tabpanel">
                            <p th:text="${cake.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nam fringilla augue nec est
                                tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis
                                justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id
                                nulla.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product_details - end
        ================================================== -->
        <div th:replace="~{component::newsletter}"></div>
    </main>
    <!-- main body - end
    ================================================== -->
    <div th:replace="~{component::footer}"></div>
</div>
<!-- body_wrap - end -->

<div th:replace="~{js::js}"></div>
</body>
</html>                
